$color-primary-1: #ffffff;
$color-primary-2: #55cbba;
$color-primary-3: #1da894;
$color-secondary-1: #e6fffb;
$color-secondary-2: #b5f5ec;
$color-secondary-3: #70e5d9;
$color-neutral-1: #fcfcfc;
$color-neutral-9: #000000;